@import 'scss/category-button.scss';
@import 'scss/accordion.scss';
@import 'scss/color-button-layout.scss';
@import 'scss/color-button.scss';


.catalog-note{
    width: 100%;
    padding: 10px;
    background-color: var(--catalog-note-bg);
    color: var(--text-general-theme-color);
}
.catalog-loader{
    width: 100%;
    min-height: 300px;
    @include row-center;
}

.catalog-row{
    margin-bottom: 40px;
    .col-4{
        @include row-center;
        margin-bottom: 20px;
        padding: 0;
    }
    .color-item{
        width: 95%;
        @include column-center;
        img{
            width: 100%;
            margin-bottom: 10px;
        }
        .label{
            color: var(--text-general-theme-color);
            font-size: 14px;
            text-align: center;
            min-height: 50px;
        }
    }
}

