.mobile-category-links {
    width: 100%;
    @include column-center;
    margin-bottom: 40px;
    position: relative;
    .category{
        position: relative;
    }
    .category,
    .subcategories,
    .altcategories,
    .subcategory,
    .altcategory {
        width: 100%;
        @include column-center;
    }

    .subcategory {
        .link-row {
            padding-left: 30px;
        }
    }

    .altcategory {
        .link-row {
            padding-left: 45px;
        }
    }

    .link-row {
        padding: 5px 20px;
        width: 100%;
        @include row-between;
        border-bottom: 1px solid var(--mobile-category-border);
        margin-bottom: 5px;

        a {
            color: var(--category-link-theme-color);
            text-transform: capitalize;
        }

        i {
            color: var(--color-1);
            font-size: 14px;
        }

        button {
            min-width: 60px;
            justify-content: flex-end;

            &.active {
                img {
                    transform: rotate(90deg);
                }
            }
        }
    }
}



section.products {
    .mobile-category-links {
        border: 1px solid var(--border-theme-color);
        border-bottom: 0;

        .link-row {
            &.active {
                background-color: var(--color-1);

                a,
                i {
                    color: var(--color-5);
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    section.products {
        .mobile-category-links {
            .subcategory, .altcategory {
                .link-row {
                    padding-left: 20px;
                }
            }
            .subcategories,
            .altcategories{
                background-color: var(--bg-general-theme-color);
                position: absolute;
                top: 0;
                left: 100%;
                border: 1px solid var(--border-theme-color);
                border-bottom: 0;
            }
        }
    }
}