.mobile-menu-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-7);
    z-index: 199;
    opacity: 0;
    
    display: none;
    animation: menu-backdrop 0.2s ease forwards;
    &.active{
        display: block;
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes menu-backdrop{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    z-index: 200;
    opacity: 0;
    background-color: var(--bg-general-theme-color);
    transition: all 0.4s;
    
    @include column-justify-start;
    &.active{
        left: 0;
        opacity: 1;
    }
    .header{
        width: 100%;
        padding: 10px 12px;
        @include row-between;
        margin-bottom: 30px;
        .logo{
            img{
                max-width: 50px;
            }
        }
        .close-button{
            min-width: 40px;
            min-height: 40px;
            font-size: 25px;
            border: 2px solid var(--color-1);
            color: var(--color-1);
            border-radius: 50%;
            &:hover{
                background-color: var(--color-1);
                color: var(--bg-general-theme-color);
            }
        }
        .icons{
            @include row-between;
            width: 100%;
            max-width: 150px;
            margin: 0 10px;
            a{
                @include row-center;
                color: var(--text-general-theme-color);
                text-transform: capitalize;
                font-weight: 600;
                img{
                    margin-right: 10px;
                    transform: scale(1.4);
                }
                &.icon-red{
                    width: 40px;
                    height: 40px;
                    background-color: var(--color-1);
                    color: var(--color-5);
                    border-radius: 50%;
                    @include row-center;
                    animation: pulse-red 1s ease infinite;
                }
            }
        }
    }
    .menu-body{
        width: 100%;
        @include column-center;
    }
    .menu-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        @include row-between;
        padding: 15px 10px;
        box-shadow: 0 0 5px var(--black-4);
        .masters-link{
            img{
                max-width: 100px;
            }
        }
    }
}


@media only screen and (min-width: 576px){
    .mobile-menu{
        .header{
            .icons{
                max-width: 230px;
            }
        }
    }
}