.theme-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color-5);
    background-color: var(--color-6);
    color: var(--color-5);
    font-size: 12px;
    margin-left: 8px;
    i{
        transform: scale(0);
        animation: theme-icon 0.5s ease forwards;
    }
    &.active{
        background-color: var(--color-5);
        color: var(--color-6) !important;
    }
}

@keyframes theme-icon{
    100%{
        transform: scale(1);
    }
}

@media only screen and (min-width: 576px){
    .theme-button{
        margin-left: 15px;
    }
}
@media only screen and (min-width: 992px){
    .theme-button{
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}
