.open-filter-button {
    width: 100%;
    padding: 13px;
    font-size: 18px;
    color: #fff;
    background-color: var(--color-1);
    margin-bottom: 30px;

    i {
        margin: 10px;
    }
}


.left-filters {
    width: 100%;
    //padding: 35px 20px;
    //box-shadow: 0 0 5px var(--box-shadow-theme-color);
    @include column-center;

    .title {
        margin-bottom: 30px;
        width: 100%;
        text-transform: capitalize;
    }

    .filter-item {
        width: 100%;
        @include column-center;
        margin-bottom: 40px;
    }

    .form-buttons {
        width: 100%;
        @include row-center;

        button {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid var(--color-1);
            color: var(--color-1);

            &.submit {
                background-color: var(--color-1);
                color: var(--color-5);
                margin-right: 5px;
            }

            &.reset {
                margin-left: 5px;

                &:hover {
                    border-color: #23272B;
                    background-color: #23272B;
                    color: #fff;
                    animation: reset-btn-animation 0.2s ease 4;
                }
            }
        }
    }
}




.range-filter {
    width: 100%;
    position: relative;

    @include column-center;

    .range-inputs {
        position: relative;
        width: 100%;
        min-height: 20px;
        margin-bottom: 15px;

        input[type='range'] {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            outline: none;
            -webkit-appearance: none;

            &::-webkit-slider-runnable-track {
                background: var(--color-1);
                width: 100%;
                height: 6px;
                border-radius: 5px;
            }

            &::-webkit-slider-thumb {
                position: relative;
                width: 20px;
                height: 20px;
                background-color: var(--color-5);
                box-shadow: 0 0 5px var(--color-1);
                color: var(--color-1);
                z-index: 2;
                margin-top: -7px;
                -webkit-appearance: none;
                border-radius: 50%;
                transition: all 0.2s;
                border: 1px solid transparent;

                &:hover {
                    border-color: var(--color-1);
                    box-shadow: none;
                }
            }
        }
    }

    .result-inputs {
        width: 100%;
        @include row-between;

        .item {
            @include row-center;

            input {
                margin-right: 3px;
            }
        }

        input {
            width: 100%;
            max-width: 55px;
            text-align: center;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 5px;
            font-weight: 600;
            background-color: var(--color-1);
            color: var(--color-5);

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                display: none;
            }
        }
    }
}


.filter-buttons {
    width: 100%;
    @include row-justify-start;
    flex-wrap: wrap;

    .filter-button {
        background-color: var(--filter-button-color);
        padding: 10px 20px;
        border-radius: 5px;
        @include row-center;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-size: 14px;

        &.active {
            background-color: var(--color-1);
            color: var(--color-5);
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            opacity: 0;
        }
    }
}