.room-section{
    animation: room-bg 10s linear infinite;
    .section-title{
        color: var(--color-5);
        padding: 12px;
    }
    .room-item{
        width: 100%;
        @include column-center;
        cursor: pointer;
        &:hover{
            .image{
                transform: scale(0.9);
                &::after{
                    opacity: 1;
                }
            }
            .heading{
                span{
                    transform: translateX(60px);
                }
            }
        }
        .image{
            width: 100%;
            height: 250px;
            position: relative;
            transition: all 0.3s;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--black-7);
                top: 0;
                left: 0;
                opacity: 0;
                transition: all 0.3s;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .heading{
            width: 100%;
            padding: 20px 0;
            @include column-align-start;
            color: var(--color-5);
            span{
                transition: all 0.3s;
                &.title{
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
    }
}

@keyframes room-bg{
    0% {
        background-color: #FFA900;
    }
    50% {
        background-color: #F75233;
    }
    100% {
        background-color: #FFA900;
    }
}

@media only screen and (min-width: 1200px){
    .room-section{
        .room-item{
            .image{
                height: 300px;
            }
        }
    }
}