@import 'profile-menu.scss';

.profile-section {
    .col-12 {
        justify-content: flex-start;
    }
    .collapse-button {
        width: 100%;
        padding: 15px;
        @include row-between;
        background: url('../../../image/large-drop-bg.png') var(--color-1);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        color: var(--color-5);
        font-weight: 600;
        z-index: 3;

        i {
            transform: rotate(180deg);
            transition: all 0.2s;
        }

        &.active {
            i {
                transform: rotate(0);
            }
        }
    }
    .collapse-item {
        width: 100%;
        @include column-center;
        margin-bottom: 35px;
    }
    .collapse-menu {
        width: 100%;
        border: 1px solid var(--border-theme-color);
        transition: all 0.3s;
        z-index: 1;
        animation: collapse-menu 0.3s ease forwards;

        .inner {
            width: 100%;
            @include column-center;
            transition: all 0.4s;
            
        }

        .item {
            width: 100%;
            padding: 10px 15px;
            border-bottom: 1px solid var(--border-theme-color);

            &:last-child {
                border-bottom: 0;
            }

            button,
            a {
                color: var(--text-general-theme-color);
                font-weight: 600;

                &:hover {
                    transform: translateX(20px);
                    color: var(--color-1);
                }

                &.active {
                    color: var(--color-1);
                }
            }
        }
    }
}
.profile-main-panel {
    width: 100%;
    @include column-center;

    .header {
        width: 100%;
        @include row-between;
        margin-bottom: 30px;

        .title {
            font-weight: 700;
        }

        button {
            align-items: flex-end;
        }
    }
    .body{
        width: 100%;
        @include column-center;
    }

}

@media only screen and (min-width: 1200px) {
    .profile-main-panel {
        padding: 20px;
        border: 1px solid var(--border-theme-color);
    }
}
@keyframes collapse-menu{
    0%{
        opacity: 0;
        transform: translateY(-50px)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

@import 'order-list.scss';
@import 'settings.scss';