@keyframes pulse-red {
    0% {box-shadow: 0 0 0 0 var(--color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-white {
    0% {box-shadow: 0 0 0 0 #fff;}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-green {
    0% {box-shadow: 0 0 0 0 #4BB543;}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes show-fix-header{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}
@keyframes spin-line{
    100%{transform: rotate(360deg);}
}
@keyframes rotate-down{
    0%{transform: rotate(0);}
    100%{transform: rotate(90deg);}
}
@keyframes rotate-up{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(0);}
}
@keyframes rotate-down-180{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}
@keyframes rotate-up-180{
    0%{transform: rotate(180deg);}
    100%{transform: rotate(0);}
}
@keyframes show-drop-menu{
    0%{opacity: 0;transform: translateY(-20px);}
    100%{opacity: 1;transform: translateY(0);}
}
@keyframes usta-logo-animation{
    0%{transform: rotate(0);}
    25%{transform: rotate(8deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-8deg);}
    100%{transform: rotate(0);}
}
@keyframes alt-category-panel{
    0%{opacity: 0;transform: translateY(-50px);}
    100%{opacity: 1;transform: translateY(0);}
}
@keyframes enabled-animation{
    0%{transform: scale(1.3) translateX(-100px);}
    100%{transform: scale(1.3) translateX(0);}
}
@keyframes room-background{
    0%{background-color: #FFA900;}
    50%{background-color: #F75233;}
    100%{background-color: #FFA900;}
}
@keyframes category-left-panel{
    0%{opacity: 0;transform: translateX(-50px);}
    100%{opacity: 1;transform: translateX(0);}
}
@keyframes phone-animation{
    0%{transform: rotate(0);}
    25%{transform: rotate(12deg);}
    50%{transform: rotate(0);}
    75%{transform: rotate(-12deg);}
    100%{transform: rotate(0);}
}
@keyframes envelope-animation{
    0%{transform: scale(1);}
    25%{transform: scale(0.7);}
    50%{transform: scale(1.4);}
    100%{transform: scale(1);}
}
@keyframes location-animation{
    0%{transform: translateY(0);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0);}
}
.fa-phone:hover{animation: phone-animation 0.2s ease 5;}
.fa-envelope:hover{animation: envelope-animation 1s ease;}
.fa-location-dot:hover{animation: location-animation 0.5s ease;}