.page-title{
    width: 100%;
    @include column-align-start;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-theme-color);
    margin-bottom: 20px;
    .root-links{
        @include row-justify-start;
        margin-bottom: 15px;
        i{
            font-size: 10px;
            padding: 0 5px;
            opacity: 0.7;
        }
        a{
            text-transform: capitalize;
            color: var(--root-link-color);
            opacity: 0.7;
            &:hover{
                color: var(--color-1);
                opacity: 1;
            }
        }
    }
    &.secondary{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .remove-products-button{
            cursor: pointer;
            @include row-center;
            margin-bottom: 15px;
            font-weight: 600;
            img{
                margin-right: 7px;
            }
        }
    }
}

.section-title{
    text-transform: capitalize;
    color: var(--text-general-theme-color);
}


.category-buttons-row {
    width: 100%;
    @include row-justify-start;
    padding: 15px 0;
    margin-bottom: 20px;
    overflow: auto;

    button {
        min-width: 150px;
        padding: 10px 20px;
        background-color: var(--category-button-color);
        color: var(--text-general-theme-color);
        border-radius: 10px;
        margin-right: 15px;
        text-transform: capitalize;
        font-weight: 600;
        //white-space: nowrap;

        &:hover {
            background-color: var(--color-1);
            color: var(--color-5);
        }

        &.active {
            background-color: var(--color-1);
            color: var(--color-5);
        }
    }
}


.product-pagination{
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    @include row-center;
    list-style: none;
    li{
        list-style: none;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
    button{
        width: 30px;
        height: 30px;
        border: 1px solid var(--border-theme-color);
        color: var(--color-1);
        border-radius: 5px;
        i{
            font-size: 14px;
        }
        &.active{
            background-color: var(--color-1);
            border-color: var(--color-1);
            color: var(--color-5);
        }
    }
}