@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root{

    --color-1: #ed3237;
    --color-2: #f7f7f7;
    --color-3: #ffa300;
    --color-4: #4bb543;
    --color-5: #fff;
    --color-6: #000;
    --color-7: #f9f9f9;

    --bg-color-1: #ed3237;
    --bg-color-2: #f7f7f7;
    --bg-color-3: #ffa300;
    --bg-color-4: #4bb543;
    --bg-color-5: #fff;
    --bg-color-6: #000;
    --bg-color-7: #f9f9f9;

    --text-color-1: #212121;
    --text-color-2: #fff;
    --text-color-3: #474747;

    --heading-color: #212121;
    --category-color: #323232;
    --page-link-color: #6a6a6a;
    --block-link-color: #323232;

    --primary-font: "Nunito", sans-serif;


    --primary-gradient: linear-gradient(to bottom, #ffc073 -24%, #ed3237 95%);
    --secondary-gradient: linear-gradient(to bottom, rgba(116, 0, 0, 0.43) 25%, rgba(192, 0, 0, 0) 75%);
    --tertiary-gradient: radial-gradient(circle at 44% 76%, #ffb200, #ff6831 111%);
    --dynamic-gradient: linear-gradient(-45deg, #ed3237, #ff6831, #ffb200, #ffa300);

    // black white level
    --black-1: rgba(0,0,0,0.1);
    --black-2: rgba(0,0,0,0.2);
    --black-3: rgba(0,0,0,0.3);
    --black-4: rgba(0,0,0,0.4);
    --black-5: rgba(0,0,0,0.5);
    --black-6: rgba(0,0,0,0.6);
    --black-7: rgba(0,0,0,0.7);
    --black-8: rgba(0,0,0,0.8);
    --black-9: rgba(0,0,0,0.9);
    --white-1: rgba(255,255,255,0.1);
    --white-2: rgba(255,255,255,0.2);
    --white-3: rgba(255,255,255,0.3);
    --white-4: rgba(255,255,255,0.4);
    --white-5: rgba(255,255,255,0.5);
    --white-6: rgba(255,255,255,0.6);
    --white-7: rgba(255,255,255,0.7);
    --white-8: rgba(255,255,255,0.8);
    --white-9: rgba(255,255,255,0.9);

    --font-family: 'Montserrat', sans-serif;

    --scrollbar-width: 7px;
    --scrollbar-height: 7px;
    --scrollbar-radius: 0;
    --scrollbar-thumb-color: var(--color-1);
    --scrollbar-track-color: #fff;

    --selection-bg: var(--color-1);
    --selection-color: #fff;

    --section-padding: 30px 0;
    --section-mb: 30px;

}