.swiper {
    width: 100%;

    .swiper-slide {
        width: 100%;
        @include row-center;
    }
}



.slick-slider {
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;

    .slick-track {
        margin: 0;

    }

    .slick-dots {
        bottom: 0;

        li {
            margin: 0 1px;

            &.slick-active {
                button {
                    &::before {
                        background-color: var(--color-1);
                    }
                }
            }

            button {
                &::before {
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    background-color: var(--color-2);
                    color: transparent;
                    border-radius: 50%;
                }
            }
        }
    }

    .custom-slick-arrow {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }
}

.swiper {
    z-index: 1;
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }
}