.app {
    --bg-general-theme-color: #fff;
    --text-general-theme-color: #000;
    --category-link-theme-color: #212121;
    --page-link-theme-color: #474747;
    --mobile-category-border: var(--black-1);
    --general-icon-border: var(--black-1);
    --border-theme-color: var(--black-1);
    --box-shadow-theme-color: var(--black-2);
    --footer-link-theme-color: #212121;
    --root-link-color: #212121;
    --filter-button-color: #efefef;
    --category-button-color: #efefef;
    --catalog-subpanel-bg-color: #efefef;
    --catalog-note-bg: #f7f7f7;
    --card-text-color: #212121;
    --modal-bg-color: #fff;
    --counter-theme-bg: #efefef;
    --input-border-color: var(--black-3);


    background-color: var(--bg-general-theme-color);
    color: var(--text-general-theme-color);

    &.dark {
        --bg-general-theme-color: #212121;
        --text-general-theme-color: #fff;
        --category-link-theme-color: #fff;
        --page-link-theme-color: #fff;
        --mobile-category-border: var(--white-2);
        --general-icon-border: var(--white-2);
        --border-theme-color: var(--white-2);
        --box-shadow-theme-color: var(--white-3);
        --footer-link-theme-color: #fff;
        --root-link-color: #fff;
        --filter-button-color: var(--black-6);
        --category-button-color: var(--black-6);
        --catalog-subpanel-bg-color: var(--black-6);
        --catalog-note-bg: var(--black-4);
        --card-text-color: #fff;
        --modal-bg-color: #000;
        --counter-theme-bg: var(--black-6);
        --input-border-color: var(--white-2);



    }
}