header {
    width: 100%;
    position: relative;
    background-color: var(--bg-general-theme-color);

    .logo {
        img {
            max-width: 70px;
            object-fit: contain;
        }
    }

    nav {
        width: 100%;
        position: relative;
        padding: 15px 0;
        background-color: var(--bg-general-theme-color);

        &.fixed-top {
            animation: fixed-nav 0.5s ease forwards;
            box-shadow: 0 0 5px var(--box-shadow-theme-color)
        }

        .container {
            @include column-center;
            position: relative;
        }

        .inner {
            width: 100%;
            @include row-between;
        }

        &.top-nav {
            .right {
                @include row-justify-end;

                .social-icons {
                    padding: 0 12px;
                    border-right: 1px solid var(--general-icon-border);
                }
            }
        }

        &.bottom-nav {
            .masters-link {
                img {
                    max-width: 150px;
                    animation: usta-logo-animation 1s ease-in-out infinite alternate;
                }
            }
        }
    }

    .fix-nav-items {
        @include row-justify-end;
        .profile{
            margin-right: 15px;
            font-size: 20px;
            color: var(--color-1);
        }

        .login {
            color: var(--text-general-theme-color);
            text-transform: capitalize;
            @include row-center;
            margin-right: 15px;
            img {
                margin-right: 5px;
            }
        }
    }
}


@import '../scss/components/c-index.scss'